.row
  .col-md-8.offset-md-2
    %h1 ABOUT US..
    %p The international order has always been in constant change and every day new theories are the base of foreign affairs specialists analysis, either based on classical or contemporary theories. However, due to technological changes and the consolidation of freedom of speech, it has become common for the media and even anyone to comment and express their point of view without being an expert in the field.
    %br
    %p This is the reason why we created this website where foreign affairs students to be able to practice their analysis of the international system based on qualified theories about topics of interest from reliable sources.
    %br
    %p Feel free of questionate every article, share everything you've been learning during your career, and the most important, feel the passion of give a solution to global issues that may change the world forever.
    %br
      =image_tag("https://cuartaposicionblog.files.wordpress.com/2017/12/geopolitica.jpg", class: "img-fluid", alt: "Responsive image", class: "rounded mx-auto d-block img-fluid")
