.row
  .col-sm-6.offset-sm-3
    .media
      %img(class="mr-3" src="https://ventadeaceromonterrey.files.wordpress.com/2018/06/mail-logo.png?w=512" alt="Generic placeholder image" width="50" height="50")
        .media-body
          %h5.mt-0 Contact
          %br
          %p myviatech@gmail.com
