.row
  .col-md-8.offset-md-2
    %h1 Thanks for join us! Here are some things you can do:
    %br
    %p 1. Complete your profile with the information needed.
    %br
    %p 2. Search for topics you're interested on, for example: realism, covid-19, global order, culture, etc...
    %br
    %p 3. Leave a comment in every Article you read with your opinion so authors can get feedback on their posts.
    %br
    %p 4. Feel free to create your own articles (click "write article" on your profile page) and share your perspectives with all of us.


