.jumbotron
  %h1.display-4 Welcome to my amazing Blog!
  %p.lead This is a blog where you'll find articles about the new global order written by foreign affairs professionals.
  %hr.my-4/
  %p As an international affairs student, you'll have the opportunity to contribute your opinion and share your perspective about new global changes.
  %a.btn.btn-primary.btn-lg{:href => "https://www.foreignaffairs.com/", :role => "button", :target => "_blank"} Learn more
  %span

