#cookies-toast.fixed-bottom.p-4
  .toast.bg-dark.text-white.w-100.mw-100(role="alert" data-autohide="false")
    .toast-body.p-4.d-flex.flex-column
      %h4 Cookie Warning
      %p This website stores data such as cookies to enable site functionality including analytics and personalization. By using this website, you automatically accept that we use cookies.
      .ml-auto
        #btnDeny.btn.btn-light.mr-3(type="button") Deny
        #btnAccept.btn.btn-light(type="button") Accept
