.card
  .row
    .col-md-4
      - if @user.image.attached?
        = image_tag @user.image.variant(resize_to_limit: [200, 200])
    .col-md-8
      .card-body
        %h5.card-title
          = @user.name
        %button.btn.btn-outline-info
          = link_to 'See more of this Author', posts_path(user_id: @user.id), data: {icon: 'info', mini: 'true', role: 'button'}

