.row
  .col-md-6.offset-md-2
    .card
      .card-header
        = @post.title
      .card-body
        %blockquote.blockquote
          = @post.content
        %br
        %footer.blockquote-footer
          = @post.user.name
