// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
h1 { color: blue; }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  h1 { color: red; }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  h1 {
    color: orange;
    text-align: center;
  }
}


