// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#btnPrimary {
  padding: 3px;
  margin-top: 20px;
  margin-left: 20px
}
